body, html {
  background-color: #b1b1b1;
  color: #232323;
}
main.app {
  display: flex;
  flex-wrap: wrap;
}

main.app>div {
  display: flex;
  flex-wrap: nowrap;
  width: 50%;
  margin: 1em auto;
  box-shadow: -2px 5px 10px -3px rgba(0,0,0,0.49);
  border-radius: 6px;
  background-color: #fcfcfc;
  padding: .5em;
}

.thumbnail {
  width: 30%;
  padding: 0;
  background-size: cover;
  background-position: center center;
  border-radius: .5em;
}
.cocktail {
  width: 70%;
  padding: 1em;
}

h1 {
  font-family: 'Open Sans', sans-serif;
}

.search {
  display: flex;
  flex-wrap: nowrap;
}

.search form {
  width: 100%;
  padding: .5em;
  display: flex;
  justify-content: space-between;
}

.search button {
  font-size: 1.5em;
  border: none;
  background-color: transparent;
}

.search input {
  width: 100%;
  padding: .5em;
}

.loading p {
  text-align: center;
  width: 100%;
}